
@import "@visuallyjs/browser-ui/css/visuallyjs.css";
@import "./bpmn.css";

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Tahoma, Verdana, sans-serif;
    overflow: hidden;
}
